<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
</head>
<body>
    <form action="user/add" method="post">
        {% csrf_token %}
        {{signup_form}}
        <input type="submit" value="Join Us">
    </form>
</body>
</html>